.module-popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $minor-color;

  .popular-wrapper {
    width: 100%;
    position: relative;
    padding: 30px 0;

    .popular-title {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    .popular-header {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      text-align: center;
    }
  }

  .popular-footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: $empty-space-color;

    .popular-button {
      background-color: #{$primary-color};
    }
  }

  .module-popular-art {
    width: 100%;
    display: flex;
    flex-direction: column;

    .popular-art-items {
      width: 100%;
      position: relative;
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .popular-art-item {
        position: relative;
        width: 100%;
        padding: 10px;
        overflow: hidden;

        &:hover {
          .popular-art-item-info {
            opacity: 1;
          }

          img {
            transform: scale(1.5);
          }
        }

        img {
          transition: all 0.3s ease-in-out;
          width: 100%;
        }

        .popular-art-item-info {
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          opacity: 0;
          padding: 20px;
          background-color: $cover-color;
          transition: all 0.3s ease-in-out;

          .popular-art-item-title {
            width: 100%;
            text-align: center;
            color: $text-secondary-color;
            font-weight: bold;
          }
        }
      }
    }
  }

  .module-popular-shop {
    width: 100%;
    display: flex;
    flex-direction: column;

    .popular-shop-items {
      width: 100%;
      position: relative;
      margin: 10px 0;
    }
  }

  .module-popular-categories {
    width: 100%;
    display: flex;
    flex-direction: column;

    .popular-categories-items {
      width: 100%;
      position: relative;
      margin: 10px 0;
      display: flex;
      justify-content: center;
    }
  }
}