.single-page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--wp-gap-lg);
  margin: var(--wp-gap-xl) auto;

  .single-page-layout__categories {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--wp-gap-sm);

    .single-page-layout__categories-item {
      font-size: 0.875rem;
      padding: var(--wp-gap-xs) var(--wp-gap-sm);
      text-decoration: none;
      border-radius: var(--wp-border-radius-sm);
      color: var(--color-light);

      &:hover {
        box-shadow: var(--wp-shadow-sm);
      }
    }
  }

  .single-page-layout__media {
    width: 100%;
    padding: var(--wp-gap-sm);

    img {
      width: 100%;
      height: auto;
    }
  }

  .single-page-layout__content {
    padding: var(--wp-gap-sm);
    margin: 0 auto;
  }

  .single-page-layout__author {
    width: 100%;
  }
}