@import "bootstrap/scss/bootstrap";
@import "partials/variables";

:root {
  &.freeze {
    overflow: hidden;
  }

  //Sizes
  --wp-gap-xs: #{$wp-gap-xs};
  --wp-gap-sm: #{$wp-gap-sm};
  --wp-gap-md: #{$wp-gap-md};
  --wp-gap-lg: #{$wp-gap-lg};
  --wp-gap-xl: #{$wp-gap-xl};

  //Colors
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-danger: #{$color-danger};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
  --color-stroke: #{$color-stroke};
  --color-header: #{$color-header};
  --color-header-text: #{$color-header-text};
  --color-header-link: #{$color-header-link};
  --color-footer: #{$color-footer};
  --color-footer-text: #{$color-footer-text};
  --color-footer-link: #{$color-footer-link};

  //BreakPoints
  --wp-screen-xl: #{$wp-screen-xl};
  --wp-screen-lg: #{$wp-screen-lg};
  --wp-screen-md: #{$wp-screen-md};
  --wp-screen-sm: #{$wp-screen-sm};
  --wp-screen-xs: #{$wp-screen-xs};

  //Border Radius

  --wp-border-radius-xl: #{$wp-border-radius-xl};
  --wp-border-radius-lg: #{$wp-border-radius-lg};
  --wp-border-radius-md: #{$wp-border-radius-md};
  --wp-border-radius-sm: #{$wp-border-radius-sm};
  --wp-border-radius-xs: #{$wp-border-radius-xs};


  //Box Shadow
  --wp-shadow-sm: #{$wp-shadow-sm};
  --wp-shadow-md: #{$wp-shadow-md};
  --wp-shadow-lg: #{$wp-shadow-lg};

  .col {
    &:not(.compact) {
      padding: #{$grid-gutter-width};
    }
  }

  .wp-svg-icon {
    color: currentColor;

    svg {
      display: inline-block;
      height: 1em;
      width: 1em;
      fill: currentColor;
      vertical-align: -0.1em;
      overflow: visible;
      box-sizing: content-box;
    }
  }

  .wp-block-group-is-layout-flex,
  .is-layout-flex {
    width: 100%;
    gap: var(--wp-gap-sm);

    &.is-nowrap {
      flex-wrap: nowrap;
    }

    &.is-content-justification-center {
      justify-content: center;
    }

    &.is-vertical {
      flex-direction: column;
      align-items: unset;

      &.is-content-justification-center {
        align-items: center;
      }
    }
  }

  .wp-block-separator,
  hr {
    height: 0;
    border-top: 1px solid var(--color-stroke);
    opacity: 1;
  }

  .app-page-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--wp-gap-lg);
    font-size: 42px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color-primary);
    margin: var(--wp-gap-lg) 0;

    &:after,
    &:before {
      content: '';
      width: 100%;
      height: 0;
      border-bottom: 1px solid var(--color-stroke);
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}