@import "bootstrap/scss/bootstrap";
@import "partials/variables";

:root {
  //Sizes
  --wp-gap-xs: #{$wp-gap-xs};
  --wp-gap-sm: #{$wp-gap-sm};
  --wp-gap-md: #{$wp-gap-md};
  --wp-gap-lg: #{$wp-gap-lg};

  //Colors
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-danger: #{$color-danger};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
  --color-stroke: #{$color-stroke};
  --color-header: #{$color-header};
  --color-header-text: #{$color-header-text};
  --color-footer: #{$color-footer};
  --color-footer-text: #{$color-footer-text};

  //BreakPoints
  --wp-screen-xl: #{$wp-screen-xl};
  --wp-screen-lg: #{$wp-screen-lg};
  --wp-screen-md: #{$wp-screen-md};
  --wp-screen-sm: #{$wp-screen-sm};
  --wp-screen-xs: #{$wp-screen-xs};

  //Border Radius

  --wp-border-radius-xl: #{$wp-border-radius-xl};
  --wp-border-radius-lg: #{$wp-border-radius-lg};
  --wp-border-radius-md: #{$wp-border-radius-md};
  --wp-border-radius-sm: #{$wp-border-radius-sm};
  --wp-border-radius-xs: #{$wp-border-radius-xs};


  //Box Shadow
  --wp-shadow-sm: #{$wp-shadow-sm};
  --wp-shadow-md: #{$wp-shadow-md};
  --wp-shadow-lg: #{$wp-shadow-lg};

  .col {
    &:not(.compact) {
      padding: #{$grid-gutter-width};
    }
  }

  .wp-svg-icon {
    color: currentColor;

    svg {
      display: inline-block;
      height: 1em;
      fill: currentColor;
      vertical-align: -0.2em;
      overflow: visible;
      box-sizing: content-box;
    }
  }

  .wp-block-group-is-layout-flex,
  .is-layout-flex {
    width: 100%;
    gap: var(--wp-gap-sm);

    &.is-nowrap {
      flex-wrap: nowrap;
    }

    &.is-content-justification-center {
      justify-content: center;
    }

    &.is-vertical {
      flex-direction: column;
      align-items: unset;

      &.is-content-justification-center {
        align-items: center;
      }
    }
  }

  hr {
    border-color: var(--color-stroke);
    opacity: 1;
  }
}