.module-subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--wp-gap-sm);

  .module-subscribe__form {
    width: 100%;
    max-width: 500px;
    position: relative;
    border-radius: var(--wp-border-radius-lg);

    .module-subscribe__input {
      width: 100%;
      min-height: 50px;
      padding: var(--wp-gap-xs) 120px var(--wp-gap-xs) var(--wp-gap-md);
      background-color: var(--color-light);
      border-radius: inherit;
      outline: none;
      border: 2px solid var(--color-footer);
      box-shadow: var(--wp-shadow-sm);

      &:focus {
        box-shadow: var(--wp-shadow-md);
      }

      &.invalid {
        color: var(--color-danger);
        border: 2px solid var(--color-danger);
      }
    }

    .module-subscribe__button {
      width: 120px;
      position: absolute;
      right: var(--wp-gap-xs);
      top: var(--wp-gap-xs);
      bottom: var(--wp-gap-xs);
      border-radius: inherit;
      color: var(--color-footer-text);
      background-color: var(--color-footer);
      box-shadow: none;
      cursor: pointer;
      opacity: 0.9;
      border: 0;

      &:hover {
        opacity: 1;
      }

      &.loading {
        content: '...';
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .module-subscribe__result {
    &:empty {
      display: none;
    }
  }
}