.module-art-archive {
  width: 100%;
  background-color: $surface-secondary-color;

  .art-archive-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .art-archive-categories {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
  }

  .art-items-wrapper {
    width: 100%;
    display: flex;
    padding: 10px;

    .art-item {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }

  .pagination-wrapper {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: $surface-primary-color;
  }
}