.footer-module {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-menu {
    width: 100%;
    padding: var(--wp-gap-sm);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-social {
    width: 100%;
    padding: var(--wp-gap-sm);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-apps {
    width: 100%;
    padding: var(--wp-gap-sm);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-rights {
    width: 100%;
    padding: var(--wp-gap-sm);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}