.module-search {
  width: 100%;
  display: flex;
  position: relative;
  padding: var(--wp-gap-lg);

  .module-search__form {
    width: 100%;
    display: flex;
    position: relative;

    .module-search__form-icon {
      position: absolute;
      height: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .module-search__form-input {
      padding-left: 3rem;
      height: 2.5rem;
      width: 100%;
      border-radius: var(--wp-border-radius-xs);
    }
  }
}