.archive-page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--wp-gap-lg);
  margin: var(--wp-gap-xl) auto;

  .archive-page-layout__pagination {
    margin: var(--wp-gap-lg) 0;
  }
}