.module-post {
  width: 100%;

  .post-header {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: $primary-color;

    .post-image {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      object-fit: cover;
    }

    .post-header-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $cover-color;
      z-index: 1;

      .post-title {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        color: $text-secondary-color;
        text-align: center;
      }
    }
  }

  .post-body {
    width: 100%;
    padding: 10px;
    margin: 30px 0;

    .post-share {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      border-top: $border-primary;
      border-bottom: $border-primary;

      .label {
        font-weight: bold;
        margin-right: 5px;
      }

      .value {

      }
    }

    .post-date {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin: 10px 0;
      display: flex;
      border-top: $border-primary;
      border-bottom: $border-primary;

      .label {
        font-weight: bold;
        margin-right: 5px;
      }
    }

    .post-content {
      width: 100%;
      padding: 20px;
      border: $border-secondary;
    }
  }
}