//Sizes
$wp-gap-xs: 0.25rem;
$wp-gap-sm: 0.5rem;
$wp-gap-md: 0.75rem;
$wp-gap-lg: 1rem;

//Colors
$color-primary: #0D6EFDFF;
$color-secondary: #6C757DFF;
$color-success: #198754FF;
$color-info: #0DCAF0FF;
$color-danger: #DC3545FF;
$color-light: #F8F9FAFF;
$color-dark: #212529FF;
$color-stroke: #f1f1f1;
$color-header: #f9f9f9;