//Configs
$grid-gutter-width: 0.5rem;

//Sizes
$wp-gap-xs: 0.25rem;
$wp-gap-sm: 0.5rem;
$wp-gap-md: 0.75rem;
$wp-gap-lg: 1rem;
$wp-gap-xl: 2rem;

//Colors
$color-primary: #0D6EFDFF;
$color-secondary: #6C757DFF;
$color-success: #198754FF;
$color-info: #0DCAF0FF;
$color-danger: #DC3545FF;
$color-light: #ffffff;
$color-dark: #212529FF;
$color-stroke: #f1f1f1;
$color-header: #f9f9f9;
$color-header-text: #333333;
$color-footer: #f9f9f9;
$color-footer-text: #333333;

//BreakPoints
$wp-screen-xl: 1200px;
$wp-screen-lg: 976px;
$wp-screen-md: 576px;
$wp-screen-sm: 300px;
$wp-screen-xs: 0;

//Border Radius
$wp-border-radius-xl: 3rem;
$wp-border-radius-lg: 2rem;
$wp-border-radius-md: 1rem;
$wp-border-radius-sm: 0.5rem;
$wp-border-radius-xs: 0.25rem;

//Box Shadow
$wp-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
$wp-shadow-md: 0 2px 8px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.16);
$wp-shadow-lg: 0 4px 12px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.16);